<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Голосовалка</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic")
    @Styles.Render("~/Content/notifications")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="ui container">
        @RenderBody()
        <div class="ui basic segment"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/semantic")
    @Scripts.Render("~/bundles/notifications")
    @RenderSection("scripts", required: false)
</body>
</html>
